#idle_inhibitor,
#custom-power,
#custom-vpn,
#custom-app-launcher,
#custom-wallpaper-launcher {
  background-color: @background;
  margin: 0 5px;
  padding: 0 10px;
  border: 2px solid;
  border-radius: 10px;
}

#custom-power {
  font-size: 14px;
  margin-left: 50px;
  color: @color1;
  min-width: 30px;
  padding-left: 6px;
}

#custom-app-launcher {
  font-size: 17px;
  color: @color3;
  min-width: 34px;
  padding-left: 6px;
}

#custom-wallpaper-launcher {
  font-size: 14px;
  color: @color5;
  min-width: 34px;
  padding-left: 6px;
}

#custom-vpn {
  font-size: 17px;
  color: @color7;
  min-width: 34px;
  padding-left: 4px;
}

#idle_inhibitor {
  font-size: 14px;
  color: @color9;
  min-width: 38px;
  padding-left: 2px;
}
