* {
	all: initial; /* ignore GTK theme */
	font-size: 16px;
	color: @main-fg;
	font-family: "FiraCodeNerdFont";
	font-weight: bold;
}

@import "styles/modules-center.css";
@import "styles/modules-left.css";
@import "styles/modules-right.css";
@import "styles/states.css";
@import "styles/typeface.css";
@import "styles/waybar.css";
@import "theme.css";
